{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}[tosp]{% endblock %}
{% block extra_css %} 
	<link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}>
{% endblock %}
{% block header %}
	<div class="nebula">
		<div class="container padded">
					<img src="{% static 'images/logos/ruidoColores/tospRuidoColoresBordeNegro.svg' %}" class="img-responsive center-block">
		</div>
	</div>
{% endblock %}

{% block body_content %}
	<div class="text-center row little-padding-first little-padding-last">
		<div class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1">

			<h1>Bienvenido a maskara</h1>
			{% if request.user.is_authenticated %}
    			<h2>Logout</h2>
				<form action="{% url 'logout' %}" method="post">
					{% csrf_token %}
					<input type="submit" value="Logout">
				</form>
			{% else %}
				<h2>Registro</h2>
				<form action="{% url 'create_account' %}" method="post">
					{% csrf_token %}
					{{ registration_form }}
					<input type="submit" value="Submit">
				</form>
				<h2>Login</h2>
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					{{ login_form }}
					<input type="submit" value="Submit">
				</form>
			{% endif %}
		</div>
	</div>
	
{% endblock %}

{% block footer_content %}
	<div class="text-center very-little-padding row">
		<div class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1">
			<h1><i>"It was all a dream."</i></h1>
			<h2>Notorious B.I.G</h2>
		</div>
	</div>
{% endblock %}